<div class="grafic-layout">
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <button class="back-btn" [routerLink]="['/']">{{ 'LAST_ADMITTED.BACK' | translate }}</button>
      <h2>{{ 'LAST_ADMITTED.TITLE' | translate }}</h2>

      <label for="selectOptiuni">{{ 'LAST_ADMITTED.MULTI_SELECT_LABEL' | translate }}</label>
      <div class="multi-select-container">
        <div class="multi-select-wrapper">
          <div
            class="multi-select-option"
            *ngFor="let opt of options"
            [class.selected]="selectedOptions.includes(opt)"
            (click)="toggleOption(opt)"
          >
            {{ opt }}
          </div>
        </div>
      </div>

      <div class="info">
        <p [innerHTML]="'LAST_ADMITTED.INFO' | translate"></p>
      </div>
    </div>
  </div>

  <div class="chart-area">
    <ng-container *ngIf="selectedOptions.length > 0; else noSelection">
      <canvas #myChart></canvas>
    </ng-container>
    <ng-template #noSelection>
      <div class="placeholder-text">{{ 'LAST_ADMITTED.PLACEHOLDER' | translate }}</div>
    </ng-template>
  </div>
</div>
