<div class="container">
  <div class="left-pane">
    <button class="back-btn" [routerLink]="['/']">{{ 'BAC_STATS.BACK' | translate }}</button>
    <h2 class="form-title">{{ 'BAC_STATS.TITLE' | translate }}</h2>

    <div class="filters">
      <label for="judetDropdown">{{ 'BAC_STATS.FILTERS.COUNTY' | translate }}</label>
      <select id="judetDropdown" [(ngModel)]="judetSelectat" (change)="onJudetChange(judetSelectat)">
        <option value="">{{ 'BAC_STATS.FILTERS.ALL' | translate }}</option>
        <option *ngFor="let code of judete" [value]="code">{{ judetMap[code] || code }}</option>
      </select>

      <label for="cityDropdown">{{ 'BAC_STATS.FILTERS.CITY' | translate }}</label>
      <select id="cityDropdown" [(ngModel)]="citySelectata" (change)="onCityChange(citySelectata)">
        <option value="">{{ 'BAC_STATS.FILTERS.ALL' | translate }}</option>
        <option *ngFor="let c of cities" [value]="c">{{ c }}</option>
      </select>

      <label for="unitateDropdown">{{ 'BAC_STATS.FILTERS.SCHOOL' | translate }}</label>
      <select id="unitateDropdown" [(ngModel)]="unitateSelectata" (change)="onUnitateChange(unitateSelectata)">
        <option value="">{{ 'BAC_STATS.FILTERS.ALL' | translate }}</option>
        <option *ngFor="let unitate of unitati" [value]="unitate">{{ unitate }}</option>
      </select>

      <label for="specializareDropdown">{{ 'BAC_STATS.FILTERS.SPECIALIZATION' | translate }}</label>
      <select id="specializareDropdown" [(ngModel)]="specializareSelectata" (change)="onSpecializareChange(specializareSelectata)">
        <option value="">{{ 'BAC_STATS.FILTERS.ALL' | translate }}</option>
        <option *ngFor="let spec of specializari" [value]="spec">{{ spec }}</option>
      </select>
    </div>
  </div>

  <div class="right-pane">
    <div class="chart-wrapper">
      <canvas id="chart"></canvas>
    </div>
    <div class="summary-text">{{ totalEleviText }}</div>
  </div>
</div>
